<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techanist.delivz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".DelivzApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- usesCleartextTraffic added to by-pass : Cleartext HTTP traffic not permitted, To access localhost -->

        <activity android:name=".view.MainActivity"
            android:theme="@style/HomeGreyStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--this library is required for google maps when targeting API 28+
            see: https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library
            and this: https://issuetracker.google.com/issues/79478779 -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8HDiX1NvIEu5BSyWzSaaJVozW5M0ZxV4" />

        <activity
            android:name=".view.DetailsActivity"
            android:label="@string/title_activity_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techanist.delivz.view.MainActivity" />
        </activity>
    </application>

</manifest>